body {
    font-family: Lato;
    color: white;
    padding-bottom:70px;
    background: rgba(0,0,0,0.1);
}

html {
    height:100%;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

h6 {
    color: black;
}

hr {
    border-top: 1px solid #000000;
    border-botton: 1px solid rgba(0,0,0.2);
}

a .hover-after {
    display: none;
    visibility: hidden;
    opacity: 0;
}

a:hover .hover-before {
    display: none;
    visibility: hidden;
    opacity: 0;
}
a:hover .hover-after {
    display: inline;
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 0.5s linear;
}

@media (max-width: 575px) {
   button.navbar-toggler {
       position: absolute !important;
       right: 10px !important;
       top: 14px !important;
   }
}
